body {
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
}

h4 {
  text-align: left;
}

ul {
  list-style: none;
  display: flex;
}

button {
  background: #7700ff;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  text-transform: uppercase;
  padding: 1em;
  cursor: pointer;
  font-family: 'Montserrat';
}

li {
  display: flex;
}

.taskCard {
  background-color: whitesmoke;
  padding: 10px;
  margin-top: 15px;
  border-radius: 2px;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.taskLate {
  background-color: lightpink !important;
}

.taskCompleted {
  background-color: lightgreen !important;
}

#taskContainer {
  padding: 2rem;
}
